body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.photo {
  width: 175px;
  height: auto;
}

h3 {
  color: #f1f1f1;
}

.navbar-custom {
  background-color: #282A35
}

.nav-link{
  color: #f1f1f1;
  
}

.nav-link:hover{
  color: #04AA6D
}

.nav-link:active{
  color: #04AA6D
}

.navbar-toggler{
  color: #f1f1f1;
}

.navbar-toggler-icon{
  color: #f1f1f1
}

.shadow{
  background-color: #f1f1f1;
}

table {
  background-color: #f1f1f1;
}

.input-group{
  background-color: #f1f1f1;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}